# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Android Studio
.idea/
*.iml
 
# Gradle
.gradle/
build/
 
# Local Android configuration
local.properties
 
# Generated Android files
captures/
.externalNativeBuild/
.cxx/
 
# OS files
.DS_Store
Thumbs.db

.env

deploy.sh
deployments/

config.php
hash.php